:root {
  --accent: #ff4e45;
  --dark: #1d1d1d;
  --medium: #272727;
  --light: #8e8e8e;
  --lightest: #eeeeee;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--light) transparent;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
  background-color: var(--light);
  font-family: 'Roboto', sans-serif;
}
*::-webkit-scrollbar {
  width: 0.7rem;
  border: 1px solid black;
  padding: 5px;
}
*::-webkit-scrollbar-thumb {
  background: var(--light);
  border-radius: 5rem;
}
a {
  text-decoration: none;
}
/* !ESTILOS */

header {
  height: 5.5rem;
  box-shadow: 0 0 1rem var(--dark);
  position: sticky;
  top: 0;
  background-color: var(--medium);
  z-index: 9;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-inline: 2rem;
  padding-block: 1rem;
}
ul {
  display: flex;
  gap: 1rem;
}
li {
  list-style: none;
}
header ul li a {
  text-decoration: none;
  text-transform: uppercase;
}
.menu-icon-btn {
  background-color: transparent;
  border: none;
  padding: 0.5rem;
}
.menu-icon {
  font-size: 3rem;
  cursor: pointer;
  font-size: 2.4rem;
  color: var(--light);
  transition: color 0.2s ease;
}
.menu-icon:hover {
  color: var(--lightest);
}

/* !SIDEBAR */
.container {
  display: flex;
}
.sidebar {
  height: calc(100vh - 5.5rem);
  background-color: var(--medium);
  width: 7rem;
  padding-block: 2.2rem;
  overflow: hidden;
  position: fixed;
  top: 5.5rem;
  transition: all 0.3s ease;
  white-space: nowrap;
}
.sidebar.open {
  /* height: calc(100vh - 5.5rem); */
  /* background-color: var(--medium); */
  width: 24rem;
  /* height: 100vh; */
  /* padding-block: 2rem; */
  /* transition: all 0.3s ease; */
  /* top: 5.5rem; */
  /* left: 0; */
  /* overflow: hidden; */
  /* position: fixed; */
  /* bottom: 0; */
}
.sidebar .sidebar__logo-wrapper {
  width: 100%;
  height: 3.5rem;
  margin-bottom: 1rem;
  color: var(--light);
  text-align: center;
  position: relative;
  transition: all 0.3s ease;
}
.sidebar.open .sidebar__logo-wrapper {
  margin-bottom: 2rem;
  height: 15rem;
}
.sidebar .sidebar__logo-wrapper .logo {
  width: 2.8rem;
  transition: all 0.3s ease;
}
.sidebar.open .sidebar__logo-wrapper .logo {
  width: 11rem;
}
.sidebar p,
.sidebar h3,
.sidebar__links-text {
  opacity: 0;
  visibility: hidden;
  height: 0;
  width: 0;
  transition: ease;
}
.sidebar.open .sidebar__logo-wrapper h3 {
  position: absolute;
  top: calc(100% - 3.5rem);
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.5;
}
.sidebar.open .sidebar__logo-wrapper p {
  position: absolute;
  top: calc(100% - 1rem);
  width: 100%;
  font-size: 1.2rem;
}
.sidebar.open .sidebar__logo-wrapper p,
.sidebar.open .sidebar__logo-wrapper h3 {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
}
.sidebar ul li a .sidebar__links-text {
  width: calc(100% - 2.4rem);
  transition: all 0.3s ease;
  margin-left: 2rem;
}
.sidebar.open ul li a .sidebar__links-text {
  opacity: 1;
  visibility: visible;
  height: 100%;
  width: calc(100% - 2.4rem);
  transition: all 0.3s ease;
  margin-left: 3rem;
}
.sidebar .active {
  position: relative;
  background-color: var(--dark);
}
.sidebar .active::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 0.4rem;
  top: 0;
  left: 0;
  background-color: var(--accent);
}
.sidebar .active * {
  fill: var(--accent);
  color: var(--accent);
}
.sidebar.open ul {
  width: 24rem;
}
.sidebar ul {
  flex-direction: column;
  width: 7rem;
}
.sidebar.open ul li a {
  align-items: center;
  display: flex;
  padding-inline: 2.2rem;
  padding-block: 1rem;
  margin: -0.5rem 0;
  width: 100%;
  color: var(--light);
}
.sidebar ul li a {
  display: flex;
  align-items: center;
  padding-left: 2.2rem;
  padding-block: 1rem;
  margin: -0.5rem 0;
  width: 100%;
  color: var(--light);
}
.sidebar ul li a:hover {
  background-color: var(--dark);
}
.sidebar.open .icon {
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
  fill: var(--light);
}
.sidebar .icon {
  min-width: 2.4rem;
  max-width: 2.4rem;
  width: 100%;
  height: 2.4rem;
  fill: var(--light);
}

/* !SIDEBAR FOOTER */
.sidebar.open .sidebar__footer {
  background-color: var(--medium);
  width: 24rem;
  position: fixed;
  bottom: 0;
  padding-block: 1rem;
  transition: all 0.3s ease;
}
.sidebar .sidebar__footer {
  background-color: var(--medium);
  width: 7rem;
  position: fixed;
  bottom: 0;
  padding-block: 1rem;
  transition: all 0.3s ease;
}
.sidebar__footer .icon {
  margin-left: 0.3rem;
  font-size: 1.8rem;
}
.sidebar__footer .sidebar__links-text {
  width: 100%;
}

/* !CONTENT */
.container .sidebar ~ .content {
  padding: 2rem 10rem;
  transition: all 0.3s ease;
}
.container .sidebar.open ~ .content {
  padding: 2rem 3rem 2rem 27rem;
  transition: all 0.3s ease;
}
